#textdomain wesnoth-Saurian_Pack
[textdomain]
    name="wesnoth-Saurian_Pack"
    path="data/add-ons/Saurian_Pack/translations"
[/textdomain]

[binary_path]
    path=data/add-ons/Saurian_Pack
[/binary_path]
[+units]
    {~add-ons/Saurian_Pack/units/saurians}
[/units]

#define SAURIAN_SPEARWOMAN_ADVANCEMENT
    [modify_unit_type]
        type=Saurian Skirmisher
        add_advancement=Saurian Spearwoman
    [/modify_unit_type]
#enddef
#define SAURIAN_SEER_ADVANCEMENT
    [modify_unit_type]
        type=Saurian Soothsayer
        set_advances_to=Saurian Seer
        set_experience=60
    [/modify_unit_type]
#enddef
#define SAURIAN_PROPHET_ADVANCEMENT
    [modify_unit_type]
        type=Saurian Oracle
        set_advances_to=Saurian Prophet
        set_experience=66
    [/modify_unit_type]
#enddef

[modification]
    id=wesnoth-Saurian_Pack-mod
    name=_"Additional Saurian Upgrades"
    description=_"If this setting is on, additional upgrades will be added to several Saurian units."
    require_modification=yes
    addon_min_version=4.0.0
    [load_resource]
        id=wesnoth-Saurian_Pack-resource
    [/load_resource]
[/modification]

[resource]
    id=wesnoth-Saurian_Pack-resource
    {SAURIAN_SPEARWOMAN_ADVANCEMENT}
    {SAURIAN_SEER_ADVANCEMENT}
    {SAURIAN_PROPHET_ADVANCEMENT}
[/resource]

[resource]
    id=wesnoth-Saurian_Pack-resource-Spearwoman
    {SAURIAN_SPEARWOMAN_ADVANCEMENT}
[/resource]

[resource]
    id=wesnoth-Saurian_Pack-resource-Seer
    {SAURIAN_SEER_ADVANCEMENT}
[/resource]

[resource]
    id=wesnoth-Saurian_Pack-resource-Prophet
    {SAURIAN_PROPHET_ADVANCEMENT}
[/resource]
